in-cse.json
[
    {
        "id": "3226418c73eb35d6",
        "type": "tab",
        "label": "Flow(in-cse)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c2ce7a82e34b0763",
        "type": "group",
        "z": "3226418c73eb35d6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a3be66b5dddf60f6",
            "d2124f014b67784f",
            "f8ec05689c241e86",
            "0d8d37d6f5295fc4",
            "b779f06c1cf75324",
            "35ec9e9d1422b48b",
            "ec13cb2c5ab6a6bf",
            "27dab8209fbd94be",
            "800f484a01aa1a2b",
            "2a3f00c4d3bff33e",
            "cfe6a6e6c7580f7e",
            "106e4ca6e5de1de7",
            "d5196c03fab6f405",
            "7c7e76d1e298bf46",
            "aef181ee54e0ddf0",
            "7defb9727410a753",
            "05c25fb12f40fc98",
            "b7898d2ae350acb4",
            "c529028099d26bec",
            "4234f916aef95431",
            "6d3e6341d80257db",
            "c7a5f73d0db8dcc3"
        ],
        "x": 94,
        "y": 19,
        "w": 1872,
        "h": 442
    },
    {
        "id": "98e8ca3b92f90153",
        "type": "group",
        "z": "3226418c73eb35d6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fb2fe44648bbc6a3",
            "aa129e41c8a13402",
            "0dd116aa9446e260",
            "acb3733c8f95e1c7",
            "5047a275c2d10b32",
            "612296d5d81a512d",
            "8681ce923adb05d2",
            "54860d7e1a6060b1",
            "ff63633ef5e89d5c",
            "c57052aa0b9c7071",
            "401fc29bede85f37",
            "74a842e4b9c0e707",
            "be8e31c205d9aec0",
            "d6f61d0743a78ff8",
            "c9a7c061973f4031",
            "1ae27a231d86d73e",
            "36052e23437c3f55",
            "2469c38ba4032de3",
            "2492fc6801301a0e",
            "f4afe06ecf487f1c",
            "1ca8e33b6c4801e7",
            "c82cfd485d571bfe"
        ],
        "x": 94,
        "y": 499,
        "w": 1872,
        "h": 442
    },
    {
        "id": "75a9faf82f56a5fa",
        "type": "group",
        "z": "3226418c73eb35d6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e5edc2535666c80a",
            "93923e67b2141147",
            "34ba5426ad08bb9e",
            "967f3ed10b4889e0",
            "711e89559ab2bb22",
            "306d57678c151c6f",
            "11134c5117306707",
            "ba86f62302a24276",
            "f46e8645281eccde",
            "0bdca29a9c5a897c",
            "db9b533228f5d3ed",
            "f75a897055584388",
            "c5739a426ab3d262",
            "97173debba722aa8",
            "a9d6b88cc167d6e4",
            "613a699649426a07",
            "5c126e547d24e505",
            "bb0a272b0dc5dec7",
            "a7ab1d701e913d90",
            "d5083c0b0f49e46d",
            "d059ecbd112d1eeb",
            "1e9918272461fbf4"
        ],
        "x": 94,
        "y": 979,
        "w": 1892,
        "h": 442
    },
    {
        "id": "cfe6a6e6c7580f7e",
        "type": "http response",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "Notification Response",
        "statusCode": "",
        "headers": {},
        "x": 800,
        "y": 320,
        "wires": []
    },
    {
        "id": "106e4ca6e5de1de7",
        "type": "function",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "take out state",
        "func": "var data = msg.payload[\"m2m:sgn\"].nev[0].rep[0][\"m2m:cin\"][0].con[0];\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 400,
        "wires": [
            [
                "d5196c03fab6f405"
            ]
        ]
    },
    {
        "id": "d5196c03fab6f405",
        "type": "xml",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "con to xml",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 970,
        "y": 400,
        "wires": [
            [
                "7c7e76d1e298bf46"
            ]
        ]
    },
    {
        "id": "7c7e76d1e298bf46",
        "type": "function",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "set object",
        "func": "\nvar New = { temperature: 0, air_con: false };\nNew.temperature = msg.payload.obj.int[0].$.val;\nNew.aircon = msg.payload.obj.bool[0].$.val;\nmsg.payload = New;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 400,
        "wires": [
            [
                "aef181ee54e0ddf0"
            ]
        ]
    },
    {
        "id": "aef181ee54e0ddf0",
        "type": "function",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "Set payload & headers",
        "func": "/*jshint multistr: true */\nvar data = {\n\t\"temperature\": msg.payload.temperature,\n\t\"aircon\": msg.payload.aircon\n};\nmsg.payload = data;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 340,
        "wires": [
            [
                "7defb9727410a753"
            ]
        ]
    },
    {
        "id": "7defb9727410a753",
        "type": "http request",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "post to server",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/aircon",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1600,
        "y": 340,
        "wires": [
            [
                "05c25fb12f40fc98",
                "b7898d2ae350acb4"
            ]
        ]
    },
    {
        "id": "05c25fb12f40fc98",
        "type": "debug",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "msg.statusCode",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1820,
        "y": 340,
        "wires": []
    },
    {
        "id": "b7898d2ae350acb4",
        "type": "http response",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "aircon response",
        "statusCode": "",
        "headers": {},
        "x": 1860,
        "y": 400,
        "wires": []
    },
    {
        "id": "c529028099d26bec",
        "type": "switch",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "",
        "property": "payload[\"m2m:sgn\"].nev[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 360,
        "wires": [
            [
                "cfe6a6e6c7580f7e"
            ],
            [
                "106e4ca6e5de1de7"
            ]
        ]
    },
    {
        "id": "4234f916aef95431",
        "type": "xml",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "payload to xml",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 400,
        "y": 360,
        "wires": [
            [
                "c529028099d26bec"
            ]
        ]
    },
    {
        "id": "6d3e6341d80257db",
        "type": "http in",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "",
        "url": "/aircon",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "4234f916aef95431",
                "c7a5f73d0db8dcc3"
            ]
        ]
    },
    {
        "id": "a3be66b5dddf60f6",
        "type": "comment",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "IN-CSE Temp_Aircon",
        "info": "",
        "x": 220,
        "y": 60,
        "wires": []
    },
    {
        "id": "d2124f014b67784f",
        "type": "inject",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "0d8d37d6f5295fc4"
            ]
        ]
    },
    {
        "id": "f8ec05689c241e86",
        "type": "inject",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "b779f06c1cf75324"
            ]
        ]
    },
    {
        "id": "0d8d37d6f5295fc4",
        "type": "Application",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "IN-CSE Temp_Aircon",
        "platform": "50471d6cbb8a02f9",
        "name1": "ecdbd14cbab47b76",
        "pointOfAccess": "",
        "obixAnnounce": false,
        "width": 0,
        "options": [
            {
                "label": "Location",
                "value": "bedroom"
            }
        ],
        "cntInstance": "",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "35ec9e9d1422b48b"
            ]
        ]
    },
    {
        "id": "b779f06c1cf75324",
        "type": "Container",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "IN-CSE Temp_Aircon Container",
        "platform": "50471d6cbb8a02f9",
        "name1": "ecdbd14cbab47b76",
        "viewtype": "DATA",
        "viewunid1": "test_other",
        "x": 430,
        "y": 200,
        "wires": [
            [
                "ec13cb2c5ab6a6bf"
            ]
        ]
    },
    {
        "id": "35ec9e9d1422b48b",
        "type": "debug",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "debug1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "ec13cb2c5ab6a6bf",
        "type": "debug",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "debug2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "27dab8209fbd94be",
        "type": "inject",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "800f484a01aa1a2b"
            ]
        ]
    },
    {
        "id": "800f484a01aa1a2b",
        "type": "Subscription",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "IN-CSE Temp_Aircon Subscription",
        "platform": "50471d6cbb8a02f9",
        "sensor": "ecdbd14cbab47b76",
        "container": "DATA",
        "path": "http://localhost:1880/aircon",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "2a3f00c4d3bff33e"
            ]
        ]
    },
    {
        "id": "2a3f00c4d3bff33e",
        "type": "debug",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "debug4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "c7a5f73d0db8dcc3",
        "type": "debug",
        "z": "3226418c73eb35d6",
        "g": "c2ce7a82e34b0763",
        "name": "aircon",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 420,
        "wires": []
    },
    {
        "id": "fb2fe44648bbc6a3",
        "type": "comment",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "IN-CSE Clean_Room",
        "info": "",
        "x": 220,
        "y": 540,
        "wires": []
    },
    {
        "id": "aa129e41c8a13402",
        "type": "inject",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 600,
        "wires": [
            [
                "acb3733c8f95e1c7"
            ]
        ]
    },
    {
        "id": "0dd116aa9446e260",
        "type": "inject",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 680,
        "wires": [
            [
                "5047a275c2d10b32"
            ]
        ]
    },
    {
        "id": "acb3733c8f95e1c7",
        "type": "Application",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "IN-CSE Clean",
        "platform": "50471d6cbb8a02f9",
        "name1": "d34ce5c1e140b6c3",
        "pointOfAccess": "",
        "obixAnnounce": false,
        "width": 0,
        "options": [
            {
                "label": "Location",
                "value": "bedroom"
            }
        ],
        "cntInstance": "",
        "x": 380,
        "y": 600,
        "wires": [
            [
                "612296d5d81a512d"
            ]
        ]
    },
    {
        "id": "5047a275c2d10b32",
        "type": "Container",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "IN-CSE Clean_Room Container",
        "platform": "50471d6cbb8a02f9",
        "name1": "d34ce5c1e140b6c3",
        "viewtype": "DATA",
        "viewunid1": "test_other",
        "x": 430,
        "y": 680,
        "wires": [
            [
                "8681ce923adb05d2"
            ]
        ]
    },
    {
        "id": "612296d5d81a512d",
        "type": "debug",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "debug1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 600,
        "wires": []
    },
    {
        "id": "8681ce923adb05d2",
        "type": "debug",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "debug2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 680,
        "wires": []
    },
    {
        "id": "54860d7e1a6060b1",
        "type": "inject",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 740,
        "wires": [
            [
                "ff63633ef5e89d5c"
            ]
        ]
    },
    {
        "id": "ff63633ef5e89d5c",
        "type": "Subscription",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "IN-CSE Clean_Room Subscription",
        "platform": "50471d6cbb8a02f9",
        "sensor": "d34ce5c1e140b6c3",
        "container": "DATA",
        "path": "http://localhost:1880/clean",
        "x": 440,
        "y": 740,
        "wires": [
            [
                "c57052aa0b9c7071"
            ]
        ]
    },
    {
        "id": "c57052aa0b9c7071",
        "type": "debug",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "debug4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 740,
        "wires": []
    },
    {
        "id": "401fc29bede85f37",
        "type": "http response",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "Notification Response",
        "statusCode": "",
        "headers": {},
        "x": 800,
        "y": 800,
        "wires": []
    },
    {
        "id": "74a842e4b9c0e707",
        "type": "function",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "take out state",
        "func": "var data = msg.payload[\"m2m:sgn\"].nev[0].rep[0][\"m2m:cin\"][0].con[0];\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 880,
        "wires": [
            [
                "be8e31c205d9aec0"
            ]
        ]
    },
    {
        "id": "be8e31c205d9aec0",
        "type": "xml",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "con to xml",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 970,
        "y": 880,
        "wires": [
            [
                "d6f61d0743a78ff8"
            ]
        ]
    },
    {
        "id": "d6f61d0743a78ff8",
        "type": "function",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "set object",
        "func": "\nvar New = { motion: false, broom: false, mop: false };\nNew.motion = msg.payload.obj.bool[0].$.val;\nNew.broom = msg.payload.obj.bool[1].$.val;\nNew.mop = msg.payload.obj.bool[2].$.val;\nmsg.payload = New;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 880,
        "wires": [
            [
                "c9a7c061973f4031"
            ]
        ]
    },
    {
        "id": "c9a7c061973f4031",
        "type": "function",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "Set payload & headers",
        "func": "/*jshint multistr: true */\nvar data = {\n\t\"motion\": msg.payload.motion,\n\t\"broom\": msg.payload.broom,\n\t\"mop\": msg.payload.mop\n};\nmsg.payload = data;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 820,
        "wires": [
            [
                "1ae27a231d86d73e"
            ]
        ]
    },
    {
        "id": "1ae27a231d86d73e",
        "type": "http request",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "post to server",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/clean",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1600,
        "y": 820,
        "wires": [
            [
                "36052e23437c3f55",
                "2469c38ba4032de3"
            ]
        ]
    },
    {
        "id": "36052e23437c3f55",
        "type": "debug",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "msg.statusCode",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1820,
        "y": 820,
        "wires": []
    },
    {
        "id": "2469c38ba4032de3",
        "type": "http response",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "clean response",
        "statusCode": "",
        "headers": {},
        "x": 1860,
        "y": 880,
        "wires": []
    },
    {
        "id": "2492fc6801301a0e",
        "type": "switch",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "",
        "property": "payload[\"m2m:sgn\"].nev[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 840,
        "wires": [
            [
                "401fc29bede85f37"
            ],
            [
                "74a842e4b9c0e707"
            ]
        ]
    },
    {
        "id": "f4afe06ecf487f1c",
        "type": "xml",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "payload to xml",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 400,
        "y": 840,
        "wires": [
            [
                "2492fc6801301a0e"
            ]
        ]
    },
    {
        "id": "1ca8e33b6c4801e7",
        "type": "http in",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "",
        "url": "/clean",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 840,
        "wires": [
            [
                "f4afe06ecf487f1c",
                "c82cfd485d571bfe"
            ]
        ]
    },
    {
        "id": "c82cfd485d571bfe",
        "type": "debug",
        "z": "3226418c73eb35d6",
        "g": "98e8ca3b92f90153",
        "name": "clean",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 900,
        "wires": []
    },
    {
        "id": "e5edc2535666c80a",
        "type": "comment",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "IN-CSE Behavior",
        "info": "",
        "x": 200,
        "y": 1020,
        "wires": []
    },
    {
        "id": "93923e67b2141147",
        "type": "inject",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 1080,
        "wires": [
            [
                "967f3ed10b4889e0"
            ]
        ]
    },
    {
        "id": "34ba5426ad08bb9e",
        "type": "inject",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 1160,
        "wires": [
            [
                "711e89559ab2bb22"
            ]
        ]
    },
    {
        "id": "967f3ed10b4889e0",
        "type": "Application",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "IN-CSE Behavior",
        "platform": "50471d6cbb8a02f9",
        "name1": "f28216f7138b06fe",
        "pointOfAccess": "",
        "obixAnnounce": false,
        "width": 0,
        "options": [
            {
                "label": "Location",
                "value": "bedroom"
            }
        ],
        "cntInstance": "",
        "x": 390,
        "y": 1080,
        "wires": [
            [
                "306d57678c151c6f"
            ]
        ]
    },
    {
        "id": "711e89559ab2bb22",
        "type": "Container",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "IN-CSE Behavior Container",
        "platform": "50471d6cbb8a02f9",
        "name1": "f28216f7138b06fe",
        "viewtype": "DATA",
        "viewunid1": "test_other",
        "x": 420,
        "y": 1160,
        "wires": [
            [
                "11134c5117306707"
            ]
        ]
    },
    {
        "id": "306d57678c151c6f",
        "type": "debug",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "debug1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1080,
        "wires": []
    },
    {
        "id": "11134c5117306707",
        "type": "debug",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "debug2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1160,
        "wires": []
    },
    {
        "id": "ba86f62302a24276",
        "type": "inject",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 1220,
        "wires": [
            [
                "f46e8645281eccde"
            ]
        ]
    },
    {
        "id": "f46e8645281eccde",
        "type": "Subscription",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "IN-CSE Behavior Subscription",
        "platform": "50471d6cbb8a02f9",
        "sensor": "f28216f7138b06fe",
        "container": "DATA",
        "path": "http://localhost:1880/behavior",
        "x": 430,
        "y": 1220,
        "wires": [
            [
                "0bdca29a9c5a897c"
            ]
        ]
    },
    {
        "id": "0bdca29a9c5a897c",
        "type": "debug",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "debug4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1220,
        "wires": []
    },
    {
        "id": "db9b533228f5d3ed",
        "type": "http response",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "Notification Response",
        "statusCode": "",
        "headers": {},
        "x": 800,
        "y": 1280,
        "wires": []
    },
    {
        "id": "f75a897055584388",
        "type": "function",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "take out state",
        "func": "var data = msg.payload[\"m2m:sgn\"].nev[0].rep[0][\"m2m:cin\"][0].con[0];\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1360,
        "wires": [
            [
                "c5739a426ab3d262"
            ]
        ]
    },
    {
        "id": "c5739a426ab3d262",
        "type": "xml",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "con to xml",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 970,
        "y": 1360,
        "wires": [
            [
                "97173debba722aa8"
            ]
        ]
    },
    {
        "id": "97173debba722aa8",
        "type": "function",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "set object",
        "func": "\nvar New = { weight: 0, light: false, door: false };\nNew.weight = msg.payload.obj.int[0].$.val;\nNew.light = msg.payload.obj.bool[0].$.val;\nNew.door = msg.payload.obj.bool[1].$.val;\nmsg.payload = New;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 1360,
        "wires": [
            [
                "a9d6b88cc167d6e4"
            ]
        ]
    },
    {
        "id": "a9d6b88cc167d6e4",
        "type": "function",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "Set payload & headers",
        "func": "/*jshint multistr: true */\nvar data = {\n\t\"weight\": msg.payload.weight,\n\t\"light\": msg.payload.light,\n\t\"door\": msg.payload.door\n};\nmsg.payload = data;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 1300,
        "wires": [
            [
                "613a699649426a07"
            ]
        ]
    },
    {
        "id": "613a699649426a07",
        "type": "http request",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "post to server",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/behavior",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1600,
        "y": 1300,
        "wires": [
            [
                "5c126e547d24e505",
                "bb0a272b0dc5dec7"
            ]
        ]
    },
    {
        "id": "5c126e547d24e505",
        "type": "debug",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "msg.statusCode",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1820,
        "y": 1300,
        "wires": []
    },
    {
        "id": "bb0a272b0dc5dec7",
        "type": "http response",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "behavior response",
        "statusCode": "",
        "headers": {},
        "x": 1870,
        "y": 1360,
        "wires": []
    },
    {
        "id": "a7ab1d701e913d90",
        "type": "switch",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "",
        "property": "payload[\"m2m:sgn\"].nev[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 1320,
        "wires": [
            [
                "db9b533228f5d3ed"
            ],
            [
                "f75a897055584388"
            ]
        ]
    },
    {
        "id": "d5083c0b0f49e46d",
        "type": "xml",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "payload to xml",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 400,
        "y": 1320,
        "wires": [
            [
                "a7ab1d701e913d90"
            ]
        ]
    },
    {
        "id": "d059ecbd112d1eeb",
        "type": "http in",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "",
        "url": "/behavior",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 1320,
        "wires": [
            [
                "d5083c0b0f49e46d",
                "1e9918272461fbf4"
            ]
        ]
    },
    {
        "id": "1e9918272461fbf4",
        "type": "debug",
        "z": "3226418c73eb35d6",
        "g": "75a9faf82f56a5fa",
        "name": "behavior",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 1380,
        "wires": []
    },
    {
        "id": "50471d6cbb8a02f9",
        "type": "xN_CSE",
        "platform": "in-cse",
        "URLBase": "http://127.0.0.1:8080/~/in-cse/in-name",
        "user": "admin",
        "password": "admin"
    },
    {
        "id": "ecdbd14cbab47b76",
        "type": "AE",
        "appId": "Temp_Aircon"
    },
    {
        "id": "d34ce5c1e140b6c3",
        "type": "AE",
        "appId": "Clean_Room"
    },
    {
        "id": "f28216f7138b06fe",
        "type": "AE",
        "appId": "Behavior"
    }
]