mn-cse.json
[
    {
        "id": "a1bb721628caad2a",
        "type": "tab",
        "label": "Flow(mn-cse)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "705166d145e3434b",
        "type": "group",
        "z": "a1bb721628caad2a",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "122ca6b8fe751a28",
            "6fc53abfefd54874",
            "71ae557b758d239f",
            "050364b587ca80e4",
            "8e117a1412d45947",
            "5727df6e2ca8356d",
            "8a259ae997e83c9b",
            "53f2324ccf119c85",
            "ae5965e2b907f111",
            "6e99bc48e1521aea",
            "af3f18c4be2fd905",
            "823454a8419db481",
            "febca4938f036b30",
            "54055419d1d3e0c9",
            "e3f65bd97fac0632",
            "6adb105e20047865",
            "f25b88c14a8ce832",
            "6230e8fe97c1625c",
            "d47d268a40c3c75c",
            "320e7694df92a109",
            "65992fed10a0f6b1",
            "125a0ce94a097bf5"
        ],
        "x": 254,
        "y": 19,
        "w": 1712,
        "h": 402
    },
    {
        "id": "e424da1690ef46c5",
        "type": "group",
        "z": "a1bb721628caad2a",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "550fe41b97ca0c33",
            "0755a14da01a29cc",
            "43fca13f0533896c",
            "c04597ecf1191962",
            "0dae39a6f444ba0d",
            "40b57ecd86916cec",
            "6f986debb97c1a4b",
            "7c1c7efb61cff591",
            "029511356bcf4414",
            "412137e9993797ec",
            "fca5c0bc30088e3d",
            "72660b97e7c89fa0",
            "5822787599f6202a",
            "ec93ad6040ee76df",
            "eccc0c77aabc862b",
            "c6701ad4682b01ac",
            "f3c4b9a44fbe6010",
            "6e019874588e4248",
            "bcedacf451c2e9eb",
            "b64b6b8766efbbc0",
            "7e18af789d64578d",
            "c32d4b41fd898b39",
            "e6d2b7dd4b2d509f",
            "875038b9f30ae0af"
        ],
        "x": 254,
        "y": 459,
        "w": 1772,
        "h": 422
    },
    {
        "id": "9a1908da2dad37a1",
        "type": "comment",
        "z": "a1bb721628caad2a",
        "name": "Project_temp&aircon",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "122ca6b8fe751a28",
        "type": "inject",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 60,
        "wires": [
            [
                "050364b587ca80e4"
            ]
        ]
    },
    {
        "id": "6fc53abfefd54874",
        "type": "inject",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "8e117a1412d45947"
            ]
        ]
    },
    {
        "id": "71ae557b758d239f",
        "type": "inject",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 280,
        "wires": [
            [
                "ae5965e2b907f111"
            ]
        ]
    },
    {
        "id": "050364b587ca80e4",
        "type": "Application",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "",
        "platform": "b899949f9f23b9c8",
        "name1": "ecdbd14cbab47b76",
        "pointOfAccess": "",
        "obixAnnounce": false,
        "width": 0,
        "options": [
            {
                "label": "Location",
                "value": "bedroom"
            }
        ],
        "cntInstance": "",
        "x": 550,
        "y": 60,
        "wires": [
            [
                "5727df6e2ca8356d"
            ]
        ]
    },
    {
        "id": "8e117a1412d45947",
        "type": "Container",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "",
        "platform": "b899949f9f23b9c8",
        "name1": "ecdbd14cbab47b76",
        "viewtype": "DATA",
        "viewunid1": "test_other",
        "x": 540,
        "y": 140,
        "wires": [
            [
                "8a259ae997e83c9b"
            ]
        ]
    },
    {
        "id": "5727df6e2ca8356d",
        "type": "debug",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "debug1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 60,
        "wires": []
    },
    {
        "id": "8a259ae997e83c9b",
        "type": "debug",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "debug2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "53f2324ccf119c85",
        "type": "debug",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "debug3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "ae5965e2b907f111",
        "type": "ContentInstance",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "",
        "platform": "b899949f9f23b9c8",
        "name1": "ecdbd14cbab47b76",
        "container": "DATA",
        "width": 0,
        "options": [
            {
                "type": "int",
                "label": "temperature",
                "value": "28"
            },
            {
                "type": "bool",
                "label": "aircon",
                "value": "false"
            }
        ],
        "x": 560,
        "y": 280,
        "wires": [
            [
                "53f2324ccf119c85"
            ]
        ]
    },
    {
        "id": "30ab29ebd9524221",
        "type": "comment",
        "z": "a1bb721628caad2a",
        "name": "Project_clean",
        "info": "",
        "x": 110,
        "y": 500,
        "wires": []
    },
    {
        "id": "550fe41b97ca0c33",
        "type": "inject",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 500,
        "wires": [
            [
                "c04597ecf1191962"
            ]
        ]
    },
    {
        "id": "0755a14da01a29cc",
        "type": "inject",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 580,
        "wires": [
            [
                "0dae39a6f444ba0d"
            ]
        ]
    },
    {
        "id": "43fca13f0533896c",
        "type": "inject",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 720,
        "wires": [
            [
                "029511356bcf4414"
            ]
        ]
    },
    {
        "id": "c04597ecf1191962",
        "type": "Application",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "",
        "platform": "80f45698de4feca9",
        "name1": "d34ce5c1e140b6c3",
        "pointOfAccess": "",
        "obixAnnounce": false,
        "width": 0,
        "options": [
            {
                "label": "Location",
                "value": "bedroom"
            }
        ],
        "cntInstance": "",
        "x": 530,
        "y": 500,
        "wires": [
            [
                "40b57ecd86916cec"
            ]
        ]
    },
    {
        "id": "0dae39a6f444ba0d",
        "type": "Container",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "",
        "platform": "80f45698de4feca9",
        "name1": "d34ce5c1e140b6c3",
        "viewtype": "DATA",
        "viewunid1": "test_other",
        "x": 520,
        "y": 580,
        "wires": [
            [
                "6f986debb97c1a4b"
            ]
        ]
    },
    {
        "id": "40b57ecd86916cec",
        "type": "debug",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "debug7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 500,
        "wires": []
    },
    {
        "id": "6f986debb97c1a4b",
        "type": "debug",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "debug8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 580,
        "wires": []
    },
    {
        "id": "7c1c7efb61cff591",
        "type": "debug",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "debug9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 720,
        "wires": []
    },
    {
        "id": "029511356bcf4414",
        "type": "ContentInstance",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "",
        "platform": "80f45698de4feca9",
        "name1": "d34ce5c1e140b6c3",
        "container": "DATA",
        "width": 0,
        "options": [
            {
                "type": "bool",
                "label": "motion",
                "value": "true"
            },
            {
                "type": "bool",
                "label": "broom",
                "value": "true"
            },
            {
                "type": "bool",
                "label": "mop",
                "value": "false"
            }
        ],
        "x": 540,
        "y": 720,
        "wires": [
            [
                "7c1c7efb61cff591"
            ]
        ]
    },
    {
        "id": "1cecabc3d31ecbeb",
        "type": "comment",
        "z": "a1bb721628caad2a",
        "name": "Project_behavior",
        "info": "",
        "x": 120,
        "y": 940,
        "wires": []
    },
    {
        "id": "077a99454d9777b4",
        "type": "inject",
        "z": "a1bb721628caad2a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1000,
        "wires": [
            [
                "1c2a01273df13f6f"
            ]
        ]
    },
    {
        "id": "5abbdd8a60b57097",
        "type": "inject",
        "z": "a1bb721628caad2a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1080,
        "wires": [
            [
                "98f397fcc47706df"
            ]
        ]
    },
    {
        "id": "b4dc5a2c4eadda0f",
        "type": "inject",
        "z": "a1bb721628caad2a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1160,
        "wires": [
            [
                "03644fa7a1445f05"
            ]
        ]
    },
    {
        "id": "1c2a01273df13f6f",
        "type": "Application",
        "z": "a1bb721628caad2a",
        "name": "",
        "platform": "b899949f9f23b9c8",
        "name1": "f28216f7138b06fe",
        "pointOfAccess": "",
        "obixAnnounce": false,
        "width": 0,
        "options": [
            {
                "label": "Location",
                "value": "bedroom"
            }
        ],
        "cntInstance": "",
        "x": 310,
        "y": 1000,
        "wires": [
            [
                "2e849c7bc9946d61"
            ]
        ]
    },
    {
        "id": "98f397fcc47706df",
        "type": "Container",
        "z": "a1bb721628caad2a",
        "name": "",
        "platform": "b899949f9f23b9c8",
        "name1": "f28216f7138b06fe",
        "viewtype": "DATA",
        "viewunid1": "test_other",
        "x": 300,
        "y": 1080,
        "wires": [
            [
                "15f2a64fb091bfaa"
            ]
        ]
    },
    {
        "id": "2e849c7bc9946d61",
        "type": "debug",
        "z": "a1bb721628caad2a",
        "name": "debug13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1000,
        "wires": []
    },
    {
        "id": "15f2a64fb091bfaa",
        "type": "debug",
        "z": "a1bb721628caad2a",
        "name": "debug14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1080,
        "wires": []
    },
    {
        "id": "c2349d4ecd71324c",
        "type": "debug",
        "z": "a1bb721628caad2a",
        "name": "debug15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1160,
        "wires": []
    },
    {
        "id": "03644fa7a1445f05",
        "type": "ContentInstance",
        "z": "a1bb721628caad2a",
        "name": "",
        "platform": "b899949f9f23b9c8",
        "name1": "f28216f7138b06fe",
        "container": "DATA",
        "width": 0,
        "options": [
            {
                "type": "int",
                "label": "weight",
                "value": "50"
            },
            {
                "type": "bool",
                "label": "light",
                "value": "false"
            },
            {
                "type": "bool",
                "label": "door",
                "value": "false"
            }
        ],
        "x": 320,
        "y": 1160,
        "wires": [
            [
                "c2349d4ecd71324c"
            ]
        ]
    },
    {
        "id": "6e99bc48e1521aea",
        "type": "inject",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 200,
        "wires": [
            [
                "af3f18c4be2fd905"
            ]
        ]
    },
    {
        "id": "af3f18c4be2fd905",
        "type": "Subscription",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "",
        "platform": "b899949f9f23b9c8",
        "sensor": "ecdbd14cbab47b76",
        "container": "DATA",
        "path": "http://localhost:1880/sAircon",
        "x": 550,
        "y": 200,
        "wires": [
            [
                "823454a8419db481"
            ]
        ]
    },
    {
        "id": "823454a8419db481",
        "type": "debug",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "debug4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "412137e9993797ec",
        "type": "inject",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 660,
        "wires": [
            [
                "fca5c0bc30088e3d"
            ]
        ]
    },
    {
        "id": "fca5c0bc30088e3d",
        "type": "Subscription",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "",
        "platform": "80f45698de4feca9",
        "sensor": "d34ce5c1e140b6c3",
        "container": "DATA",
        "path": "http://localhost:1880/sClean",
        "x": 530,
        "y": 660,
        "wires": [
            [
                "72660b97e7c89fa0"
            ]
        ]
    },
    {
        "id": "72660b97e7c89fa0",
        "type": "debug",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "debug10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 660,
        "wires": []
    },
    {
        "id": "5822787599f6202a",
        "type": "switch",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "",
        "property": "payload[\"m2m:sgn\"].nev[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 800,
        "wires": [
            [
                "eccc0c77aabc862b"
            ],
            [
                "c6701ad4682b01ac"
            ]
        ]
    },
    {
        "id": "ec93ad6040ee76df",
        "type": "xml",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "payload to xml",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 560,
        "y": 800,
        "wires": [
            [
                "5822787599f6202a"
            ]
        ]
    },
    {
        "id": "eccc0c77aabc862b",
        "type": "http response",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "Notification Response",
        "statusCode": "",
        "headers": {},
        "x": 940,
        "y": 780,
        "wires": []
    },
    {
        "id": "c6701ad4682b01ac",
        "type": "function",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "take out state",
        "func": "var data = msg.payload[\"m2m:sgn\"].nev[0].rep[0][\"m2m:cin\"][0].con[0];\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 840,
        "wires": [
            [
                "f3c4b9a44fbe6010"
            ]
        ]
    },
    {
        "id": "f3c4b9a44fbe6010",
        "type": "xml",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "con to xml",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 1110,
        "y": 840,
        "wires": [
            [
                "6e019874588e4248"
            ]
        ]
    },
    {
        "id": "6e019874588e4248",
        "type": "function",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "set object",
        "func": "\nvar New = { motion: false, broom: false, mop: false};\nNew.motion = msg.payload.obj.bool[0].$.val;\nNew.broom = msg.payload.obj.bool[1].$.val;\nNew.mop = msg.payload.obj.bool[2].$.val;\nmsg.payload = New;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 840,
        "wires": [
            [
                "b64b6b8766efbbc0"
            ]
        ]
    },
    {
        "id": "bcedacf451c2e9eb",
        "type": "http in",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "",
        "url": "/sClean",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 350,
        "y": 800,
        "wires": [
            [
                "ec93ad6040ee76df"
            ]
        ]
    },
    {
        "id": "d2d4c37ba3d5e486",
        "type": "function",
        "z": "a1bb721628caad2a",
        "name": "set object",
        "func": "\nvar New = { weight: 50, light: false, door: false};\nNew.weight = msg.payload.obj.int[0].$.val;\nNew.light = msg.payload.obj.bool[0].$.val;\nNew.door = msg.payload.obj.bool[1].$.val;\nmsg.payload = New;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 1500,
        "wires": [
            [
                "bf20a319ca5f52d1",
                "ac049bdbe4f6ec98"
            ]
        ]
    },
    {
        "id": "bf20a319ca5f52d1",
        "type": "debug",
        "z": "a1bb721628caad2a",
        "name": "debug17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 1500,
        "wires": []
    },
    {
        "id": "3d12c1858e3df28e",
        "type": "inject",
        "z": "a1bb721628caad2a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1240,
        "wires": [
            [
                "34920a587f45eeee"
            ]
        ]
    },
    {
        "id": "34920a587f45eeee",
        "type": "Subscription",
        "z": "a1bb721628caad2a",
        "name": "",
        "platform": "b899949f9f23b9c8",
        "sensor": "f28216f7138b06fe",
        "container": "DATA",
        "path": "http://localhost:1880/behavior",
        "x": 310,
        "y": 1240,
        "wires": [
            [
                "aeaaa84b7f120bb9"
            ]
        ]
    },
    {
        "id": "aeaaa84b7f120bb9",
        "type": "debug",
        "z": "a1bb721628caad2a",
        "name": "debug16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1240,
        "wires": []
    },
    {
        "id": "b64b6b8766efbbc0",
        "type": "function",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "Set payload & headers",
        "func": "/*jshint multistr: true */\nvar data = {\n\t\"motion\": msg.payload.motion,\n\t\"broom\": msg.payload.broom,\n\t\"mop\": msg.payload.mop\n};\nmsg.payload = data;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 760,
        "wires": [
            [
                "7e18af789d64578d",
                "e6d2b7dd4b2d509f"
            ]
        ]
    },
    {
        "id": "7e18af789d64578d",
        "type": "http request",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "post to in-cse",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/~/in-cse/in-name/Clean_Room/DATA",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "credentials": {},
        "x": 1710,
        "y": 760,
        "wires": [
            [
                "c32d4b41fd898b39",
                "875038b9f30ae0af"
            ]
        ]
    },
    {
        "id": "c32d4b41fd898b39",
        "type": "http response",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "clean response",
        "statusCode": "",
        "headers": {},
        "x": 1920,
        "y": 760,
        "wires": []
    },
    {
        "id": "ac049bdbe4f6ec98",
        "type": "function",
        "z": "a1bb721628caad2a",
        "name": "Set payload & headers",
        "func": "/*jshint multistr: true */\nvar data = {\n\t\"weight\": msg.payload.weight,\n\t\"light\": msg.payload.light,\n\t\"door\": msg.payload.door\n};\nmsg.payload = data;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 1420,
        "wires": [
            [
                "7528f89b18ab4f85"
            ]
        ]
    },
    {
        "id": "1ea7c4b5d673bea4",
        "type": "http response",
        "z": "a1bb721628caad2a",
        "name": "behavior response",
        "statusCode": "",
        "headers": {},
        "x": 1690,
        "y": 1420,
        "wires": []
    },
    {
        "id": "febca4938f036b30",
        "type": "http in",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "",
        "url": "/sAircon",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 350,
        "y": 340,
        "wires": [
            [
                "54055419d1d3e0c9"
            ]
        ]
    },
    {
        "id": "54055419d1d3e0c9",
        "type": "xml",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "payload to xml",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 560,
        "y": 340,
        "wires": [
            [
                "e3f65bd97fac0632"
            ]
        ]
    },
    {
        "id": "e3f65bd97fac0632",
        "type": "switch",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "",
        "property": "payload[\"m2m:sgn\"].nev[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 340,
        "wires": [
            [
                "6adb105e20047865"
            ],
            [
                "f25b88c14a8ce832"
            ]
        ]
    },
    {
        "id": "6adb105e20047865",
        "type": "http response",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "Notification Response",
        "statusCode": "",
        "headers": {},
        "x": 940,
        "y": 320,
        "wires": []
    },
    {
        "id": "f25b88c14a8ce832",
        "type": "function",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "take out state",
        "func": "var data = msg.payload[\"m2m:sgn\"].nev[0].rep[0][\"m2m:cin\"][0].con[0];\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 380,
        "wires": [
            [
                "6230e8fe97c1625c"
            ]
        ]
    },
    {
        "id": "6230e8fe97c1625c",
        "type": "xml",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "con to xml",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 1130,
        "y": 380,
        "wires": [
            [
                "d47d268a40c3c75c"
            ]
        ]
    },
    {
        "id": "d47d268a40c3c75c",
        "type": "function",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "set object",
        "func": "\nvar New = { temperature: 0, aircon: false};\nNew.temperature = msg.payload.obj.int[0].$.val;\nNew.aircon = msg.payload.obj.bool[0].$.val;\nmsg.payload = New;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 380,
        "wires": [
            [
                "320e7694df92a109"
            ]
        ]
    },
    {
        "id": "320e7694df92a109",
        "type": "function",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "Set payload & headers",
        "func": "/*jshint multistr: true */\nvar data =\n\t'<m2m:cin xmlns:m2m=\"http://www.onem2m.org/xml/protocols\">\\\n\t<cnf>message</cnf>\\\n\t<con>\\\n\t  &lt;obj&gt;\\\n\t\t&lt;int name=&quot;temperature&quot; val=&quot;'+ msg.payload.temperature + '&quot;/&gt;\\\n\t\t&lt;bool name=&quot;aircon&quot; val=&quot;'+ msg.payload.aircon + '&quot;/&gt;\\\n\t  &lt;/obj&gt;\\\n\t</con>\\\n</m2m:cin>';\n\nmsg.payload = data;\nmsg.headers = {};\nmsg.headers['X-M2M-Origin'] = 'admin:admin';\nmsg.headers['Content-Type'] = 'application/xml;ty=4';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 320,
        "wires": [
            [
                "65992fed10a0f6b1"
            ]
        ]
    },
    {
        "id": "65992fed10a0f6b1",
        "type": "http request",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "post to in-cse",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/~/in-cse/in-name/Temp_Aircon/DATA",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1690,
        "y": 320,
        "wires": [
            [
                "125a0ce94a097bf5"
            ]
        ]
    },
    {
        "id": "125a0ce94a097bf5",
        "type": "http response",
        "z": "a1bb721628caad2a",
        "g": "705166d145e3434b",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 1880,
        "y": 320,
        "wires": []
    },
    {
        "id": "e6d2b7dd4b2d509f",
        "type": "debug",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 840,
        "wires": []
    },
    {
        "id": "875038b9f30ae0af",
        "type": "debug",
        "z": "a1bb721628caad2a",
        "g": "e424da1690ef46c5",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1920,
        "y": 840,
        "wires": []
    },
    {
        "id": "7528f89b18ab4f85",
        "type": "http request",
        "z": "a1bb721628caad2a",
        "name": "post to in-cse",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8080/~/in-cse/in-name/Clean_Room/DATA",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1490,
        "y": 1420,
        "wires": [
            [
                "0c18ad81bd40ca65",
                "1ea7c4b5d673bea4"
            ]
        ]
    },
    {
        "id": "0c18ad81bd40ca65",
        "type": "debug",
        "z": "a1bb721628caad2a",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 1500,
        "wires": []
    },
    {
        "id": "75da84b49bd6743a",
        "type": "xml",
        "z": "a1bb721628caad2a",
        "name": "con to xml",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 890,
        "y": 1500,
        "wires": [
            [
                "d2d4c37ba3d5e486"
            ]
        ]
    },
    {
        "id": "16be510377e213f1",
        "type": "function",
        "z": "a1bb721628caad2a",
        "name": "take out state",
        "func": "var data = msg.payload[\"m2m:sgn\"].nev[0].rep[0][\"m2m:cin\"][0].con[0];\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1500,
        "wires": [
            [
                "75da84b49bd6743a"
            ]
        ]
    },
    {
        "id": "a15ce42a347509fe",
        "type": "switch",
        "z": "a1bb721628caad2a",
        "name": "",
        "property": "payload[\"m2m:sgn\"].nev[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 1460,
        "wires": [
            [
                "420b06ce35a3fa59"
            ],
            [
                "16be510377e213f1"
            ]
        ]
    },
    {
        "id": "12b3c220a504384c",
        "type": "xml",
        "z": "a1bb721628caad2a",
        "name": "payload to xml",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 340,
        "y": 1460,
        "wires": [
            [
                "a15ce42a347509fe"
            ]
        ]
    },
    {
        "id": "420b06ce35a3fa59",
        "type": "http response",
        "z": "a1bb721628caad2a",
        "name": "Notification Response",
        "statusCode": "",
        "headers": {},
        "x": 720,
        "y": 1440,
        "wires": []
    },
    {
        "id": "c044b98a5bba7311",
        "type": "http in",
        "z": "a1bb721628caad2a",
        "name": "",
        "url": "/sBehavior",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1460,
        "wires": [
            [
                "12b3c220a504384c"
            ]
        ]
    },
    {
        "id": "b899949f9f23b9c8",
        "type": "xN_CSE",
        "platform": "mn-cse",
        "URLBase": "http://127.0.0.1:8282/~/mn-cse/mn-name",
        "user": "admin",
        "password": "admin"
    },
    {
        "id": "ecdbd14cbab47b76",
        "type": "AE",
        "appId": "Temp_Aircon"
    },
    {
        "id": "80f45698de4feca9",
        "type": "xN_CSE",
        "platform": "mn-cse2",
        "URLBase": "http://127.0.0.1:8383/~/mn-cse2/mn-name2",
        "user": "admin",
        "password": "admin"
    },
    {
        "id": "d34ce5c1e140b6c3",
        "type": "AE",
        "appId": "Clean_Room"
    },
    {
        "id": "f28216f7138b06fe",
        "type": "AE",
        "appId": "Behavior"
    }
]